# Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
path =r"C:\Users\Akira\Documents\Advanced Analytics and Dashboard Design Project"

In [14]:
df_NBA = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'NBA.csv'),index_col = False)

## Data Profile

In [16]:
df_NBA.dtypes

player_name           object
team_abbreviation     object
age                    int64
player_height        float64
player_weight        float64
college               object
country               object
draft_year            object
draft_round           object
draft_number          object
gp                     int64
pts                  float64
reb                  float64
ast                  float64
net_rating           float64
oreb_pct              object
dreb_pct              object
usg_pct               object
ts_pct                object
ast_pct               object
season                object
dtype: object

In [17]:
df_NBA.shape

(12844, 21)

## Data consistency checks

### Mixed Data Types

In [12]:
# Checking for mixed data types
for col in df_NBA.columns.tolist():
  weird = (df_NBA[[col]].map(type) != df_NBA[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_NBA[weird]) > 0:
    print (col)

college

When checking the data, it may seem like some colleges contain commas and parenthesis, but all of the colleges are present and written in a way that is understandable and consistent

### Missing Data

In [13]:
#Checking for missing data
df_NBA.isnull().sum()

player_name             0
team_abbreviation       0
age                     0
player_height           0
player_weight           0
college              1854
country                 0
draft_year              0
draft_round             0
draft_number            0
gp                      0
pts                     0
reb                     0
ast                     0
net_rating              0
oreb_pct                0
dreb_pct                0
usg_pct                 0
ts_pct                  0
ast_pct                 0
season                  0
dtype: int64

In [18]:
df_nan = df_NBA[df_NBA['college'].isnull() == True]

In [19]:
df_nan

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
6,Gheorghe Muresan,WAS,26,231.14,137.438376,NaN,USA,1993,2,30,...,10.6,6.6,0.4,6.9,10%,22%,19%,62%,10%,1996-97
72,Jermaine O'Neal,POR,18,210.82,102.511792,NaN,USA,1996,1,17,...,4.1,2.8,0.2,1.3,10%,20%,20%,49%,10%,1996-97
151,Dino Radja,BOS,30,210.82,102.058200,NaN,USA,1989,2,40,...,14.0,8.4,1.9,-3.3,6%,22%,23%,47%,6%,1996-97
205,Shane Heal,MIN,26,182.88,81.646560,NaN,USA,Undrafted,Undrafted,Undrafted,...,1.7,0.4,0.8,-0.7,1%,8%,20%,38%,1%,1996-97
219,Sasha Danilovic,DAL,27,198.12,90.718400,NaN,USA,1992,2,43,...,12.5,2.4,1.8,1.5,2%,7%,20%,55%,2%,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12787,Jaden Hardy,DAL,20,190.50,89.811216,NaN,USA,2022,2,37,...,8.8,1.9,1.4,-3.1,2%,11%,25%,57%,2%,2022-23
12799,Jonas Valanciunas,NOP,31,210.82,120.201880,NaN,Lithuania,2011,1,5,...,14.1,10.2,1.8,-0.7,12%,29%,23%,61%,12%,2022-23
12801,Jonathan Kuminga,GSW,20,200.66,102.058200,NaN,DRC,2021,1,7,...,9.9,3.4,1.9,-1.4,5%,11%,20%,60%,5%,2022-23
12811,Josh Giddey,OKC,20,203.20,97.975872,NaN,Australia,2021,1,6,...,16.6,7.9,6.2,-2.2,6%,19%,24%,53%,6%,2022-23
12837,Joe Ingles,MIL,35,205.74,99.790240,NaN,Australia,Undrafted,Undrafted,Undrafted,...,6.9,2.8,3.3,2.5,1%,10%,12%,62%,1%,2022-23

The reason why python is reading missing values is because on the data it is listed as none. 

The reason for this is because the player either was drafted in high school or in an overseas league.

This would be the best course of action to display this data

### Duplicate Data

In [21]:
# Checking for duplicates
df_dups = df_NBA[df_NBA.duplicated()]

In [22]:
df_dups

Empty DataFrame
Columns: [player_name, team_abbreviation, age, player_height, player_weight, college, country, draft_year, draft_round, draft_number, gp, pts, reb, ast, net_rating, oreb_pct, dreb_pct, usg_pct, ts_pct, ast_pct, season]
Index: []

[0 rows x 21 columns]

No duplicates were found